# Compiled Object files
*.slo
*.lo
*.o
*.out

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Documentation directory
documentation

# Other
*.swp
*.png
*.pgm
*.ppm
*.bmp
